* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  width: 700px;
  background-color: black;
  padding: 5px 20px 15px 20px;
  /* border: 1px solid lightgrey;
  border-radius: 3px; */
}

input,
select,
textarea {
  width: 100%;
  margin-bottom: 5px;
  padding: 12px;
  border: none;
  background-color: #424242;
  color: white;
}

label {
  margin-bottom: 5px;
  display: block;
  color: red;
}

.btnSubmit {
  background-color: red;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btnSubmit:hover {
  background-color: darkred;
}

.btnReset {
  background-color: black;
  color: red;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid red;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

.errorInput {
  border: 2px solid red;
}

.error {
  color: red;
  margin-top: 1px;
  font-size: 12px;
  font-style: italic;
}
